<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <meta charset="UTF-8">
    <title>Analizador de Engranes</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    
    <style>
        .valid-input { border-color: #28a745 !important; }
        .invalid-input { border-color: #dc3545 !important; }
    </style>

    <script>
        function agregarFila() {
            const tbody = document.getElementById("tbody-engranes");
            const fila = document.createElement("tr");
            
           
            fila.innerHTML = `
                <td><input type="number" name="diente[]" class="form-control" required min="1" oninput="validarInput(this)"></td>
                <td><input type="number" name="mant[]" class="form-control" required min="1" oninput="validarInput(this)"></td>
                <td><button type="button" class="btn btn-danger btn-sm" onclick="eliminarFila(this)"><i class="bi bi-x-lg"></i> Eliminar</button></td>
            `;
            
            tbody.appendChild(fila);
        }

        function eliminarFila(btn) { 
            btn.parentElement.parentElement.remove(); 
        }

        function validarInput(input) {
            // Validación visual adicional
            if (input.value.trim() === "" || parseInt(input.value) <= 0) {
                input.classList.add("invalid-input"); 
                input.classList.remove("valid-input");
            } else {
                input.classList.add("valid-input"); 
                input.classList.remove("invalid-input");
            }
        }
    </script>
</head>
<body>

<div class="container py-5">
    <a href="/documentacion" class="btn btn-info position-absolute top-0 end-0 mt-4 me-3 rounded-circle fw-bold shadow" 
       style="width: 40px; height: 40px; display: flex; align-items: center; justify-content: center;" 
       target="_blank" title="Ver Documentación y Ayuda">
       <i class="bi bi-info"></i>
    </a>
    <h1 class="mb-4 text-center"> Analizador de Sistema de Engranajes</h1>

    <div class="card shadow mb-4">
        <div class="card-header bg-primary text-white">Configuración Física</div>
        <div class="card-body">
            <form method="POST">
                <div class="row mb-3">
                    <div class="col-auto">
                        <label><strong>RPM Motor:</strong></label><br>
                        <input type="number" name="rpm_input" class="form-control" 
                               value="{{ resultados.rpm_motor if resultados else 100 }}" 
                               min="1" step="0.1" style="width: 120px; display:inline-block;">
                    </div>
                    
                    <div class="col-auto ms-2">
                        <label><strong>Módulo (mm):</strong></label><br>
                        <input type="number" name="modulo_input" class="form-control" 
                               value="{{ resultados.modulo if resultados else 1 }}" 
                               min="0.1" step="0.1" style="width: 120px; display:inline-block;">
                    </div>
                    
                    <div class="col text-muted small align-self-center">
                        * El módulo define el tamaño del diente. Debe ser igual en todo el sistema.
                    </div>
                </div>

                <table class="table table-bordered table-striped">
                    <thead class="table-dark">
                        <tr><th>Dientes</th><th>Mantenimiento (h)</th><th>Acción</th></tr>
                    </thead>
                    <tbody id="tbody-engranes">
                        {% if resultados and resultados.dientes %}
                           {% for i in range(resultados.dientes|length) %}
                                <tr>
                                    <td><input type="number" name="diente[]" class="form-control" value="{{ resultados.dientes[i] }}" min="1"></td>
                                    <td><input type="number" name="mant[]" class="form-control" value="{{ resultados.mant[i] }}" min="1"></td>
                                    <td><button type="button" class="btn btn-danger btn-sm" onclick="eliminarFila(this)"><i class="bi bi-x-lg"></i> Eliminar</button></td>
                                </tr>
                                {% endfor %} 
                        {% else %}
                        <tr>
                            <td><input type="number" name="diente[]" class="form-control" min="1"></td>
                            <td><input type="number" name="mant[]" class="form-control" min="1"></td>
                            <td><button type="button" class="btn btn-danger btn-sm" onclick="eliminarFila(this)"><i class="bi bi-x-lg"></i> Eliminar</button></td>
                        </tr>

                            <tr>
                                <td><input type="number" name="diente[]" class="form-control" ></td>
                                <td><input type="number" name="mant[]" class="form-control" ></td>
                                <td><button type="button" class="btn btn-danger btn-sm" onclick="eliminarFila(this)"><i class="bi bi-x-lg"></i> Eliminar</button></td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary" onclick="agregarFila()">
                <i class="bi bi-plus-circle"></i></i> Agregar
                </button>

                <button type="submit" class="btn btn-success"><i class="bi bi-calculator-fill"></i> Calcular</button>
            </form>
        </div>
    </div>

    {% if resultados %}
    <div class="card shadow mt-4">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h3 class="text-primary">Resultados</h3>
                <form id="pdfForm" action="{{ url_for('descargar_pdf') }}" method="POST" target="_blank" style="display:inline;">
                    <input type="hidden" name="gear_image_data" id="gear_image_data">
                    <button type="button" onclick="generarYDescargarPDF()" class="btn btn-warning">Descargar PDF</button>
                </form>

            <script>
            function generarYDescargarPDF() {
                const canvas = document.getElementById('gearCanvas');
                if (canvas) {
                    // Convertir el contenido del canvas a una imagen Base64 (texto)
                    const dataURL = canvas.toDataURL('image/png');
                    // Poner ese texto en el input oculto
                    document.getElementById('gear_image_data').value = dataURL;
                    // Enviar el formulario
                    document.getElementById('pdfForm').submit();
                } else {
                    alert("Error: No se encuentra la visualización para generar el reporte.");
                }
            }
            </script>
            </div>

            <div class="alert alert-info">
                Mantenimiento Global: Cada <strong>{{ resultados.mantenimiento_global }}</strong> horas.
            </div>

            <table class="table table-bordered text-center">
                <thead class="table-secondary">
                    <tr>
                        <th>Par</th>
                        <th>Dientes</th>
                        <th>Ingeniería</th> <th>Distancia</th>  <th>Ciclo</th>
                        <th>Mantenimiento (h)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in analisis_pares %}
                    <tr>
                        <td>{{ row.par }}</td>
                        <td>A: {{ row.A_d }}<br>B: {{ row.B_d }}</td>
                        
                        <td>
                            <small>Ratio:</small> <b>{{ row.ratio }}</b><br>
                            <small>Salida:</small> <b class="text-success">{{ row.rpm_salida }} rpm</b>
                        </td>
                        
                        <td>
                            <strong style="font-size: 1.1em;">{{ row.distancia }} mm</strong><br>
                            <small class="text-muted">Módulo {{ resultados.modulo }}</small>
                        </td>

                        <td>{{ row.ciclo }}</td>
                        <td>{{ row.rep_mant }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            {% include 'visualizacion.html' %}
        </div>
    </div>
    {% endif %}
</div>
</body>
</html>